@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

$brand-color: #09c;
$blue: $brand-color;
$blue-light: lighten($blue, 10%);
$blue-dark: darken($blue, 10%);

$footer-padding-vertical: 10px;
$footer-bg: #fff;
$footer-color: #666;
